Flask==3.0.3
Flask-RESTful==0.3.10
gcloud==0.18.3
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.139.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.63.2
Jinja2==3.1.4
Markdown==3.6
MarkupSafe==2.1.5
Pyrebase4==4.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
setuptools==72.1.0
